@import url(global.css);
@import url(utility.css);/*classe ultilitaria para o HTML*/
@import url(buttons.css);
@import url(social.css);
@import url(header.css);
@import url(hero.css);
@import url(sections.css);
@import url(about.css);
@import url(cards.css);
@import url(features.css) (width >= 80rem);/*uma regra para chamar esta config s贸 para as telas G*/
@import url(pricing.css);/*uma regra para chamar esta config s贸 para as telas G*/
@import url(download.css);/*uma regra para chamar esta config s贸 para as telas G*/
@import url(footer.css);/*uma regra para chamar esta config s贸 para as telas G*/